@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap"); 
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz@8..144&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

header {
  height: 15vh;
  background-color: black;
  border: solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boxBorder {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

header p {
  font-family: 'Roboto Serif';
  height: 30%;
  width: 80%;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  margin-left: 0.5em;
}

.logoFantastika {
  height: 8vh;
}

.iconsnav {
  height: 70%;
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logosHeader {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

/*Primeira seção: cachorro com chapéu*/

.primeiraSeçao {
  height: 130vh;
  width: 100%;
  background-image: url("./assets/div_1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-evenly;
  
}

.primeiraSeçao h1 {
  height: 15%;
  width: 35%;
  color: white;
  font-family: 'Roboto' serif;
  font-weight: bold;
  font-size: 4em;
  margin-bottom: 5rem;
  text-align: center;
}

.CachorroChapeu{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: right;
}

.logopata {
  height:20vh;
  margin-bottom: 20rem;
}

/*Segunda seção: Cachorro leão*/

.segundaSeçao{
  height: 130vh;
  background-image:url("./assets/div_2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;

}
.cachorroLeao{
  width: 30%;
  margin-left: 4rem;  
}

.cachorroLeao h3{
  font-family: 'Roboto', sans-serif;
  font-size: 3.5rem;
  color: #3a342f;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.cachorroLeao p{
  font-size: 1.5rem;
  color: #3a342f;
  font-family: 'Roboto', serif;
  margin-bottom: 1.5rem;
}

.cachorroLeao button {
  width: 40%;
  height: 8vh;
  font-size: 1.5rem;
  border-radius: 40px;
  background-color: #3a342f;
  color: #f4f2f3;
  font-weight: bold;
  border: none;
}

/*Terceira Seção: Mordomia saudável*/

.terceiraSeçao{
  height: 150vh;
  background-image:url("./assets/div_3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;

}

.terceiraDiv{
  width: 18%;
  margin-right:25rem; 
  display: flex;
  flex-direction: column;
  
}

.terceiraDiv h3{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 3.5rem;
  margin-bottom: 1.5rem;

}
.terceiraDiv p{
  font-size: 1.5rem;
  color: white;
  font-family: 'Roboto';
  margin-bottom: 1.5rem;
}

.terceiraDiv button{
  width: 80%;
  height: 8vh;
  font-size: 1.5rem;
  border-radius: 40px;
  color: black;
  background-color: white;
  font-weight: bold;
  border: none;
}

/*Seção Patrocínio Havaianas e Americanas*/

.seçaoPatrocinio{
  height: 13vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seçaoPatrocinio p{
  color: #FD6A9A; 
  font-family: 'Roboto Serif';
  font-style: italic;
  font-size: 1.5rem;
}

.seçaoPatrocinio div{
  width: 60%;
  display: flex;
  justify-content: space-evenly;
}

/*Footer da página*/

.footerSeçao{
  height: 25vh;
  background-color:#EB4A7B;
  color: white;
  display: flex;
  align-items: center;
}

.footerSeçao div{
  height:70%;
  display: flex;
  justify-content: space-evenly;
  margin-right: 3rem;
  margin-left: 4rem;
}

.footerSeçao h3{
 font-weight: bold;
 font-size: 1.5rem;
 font-family: 'Roboto Serif';
 margin-bottom: 1.5rem;
}

.footerSeçao ul li{
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}
